# Use git privatize for this

# Generata con: gemini_keys generate_new  ric-cccwiki 'Chiave per media-arneis'
#GEMINI_API_KEY="AIzaSyDk4cz3zIFgtkqkOvnEHo3Mk6LWffZ5TWM"
#GEMINI_API_KEY_WHEREABOUTS="Creata su cccwiki il 18apr per Media Arneis"
GEMINI_API_KEY_WHEREABOUTS="DISABLED GAK. Using VErtex instead"

GOOGLE_CLOUD_PROJECT='ric-cccwiki'
GOOGLE_CLOUD_REGION='us-central1'
GENMEDIA_BUCKET='ric-cccwiki-media-arneis'

ARNEIS_FOLDER="out/20260420_174848_rubycon_french_falling_rubies/"
ARNEIS_NO_MOCK="true"