# Use git privatize for this

# Generata con: gemini_keys generate_new  ric-cccwiki 'Chiave per media-arneis'
GEMINI_API_KEY="your-key-here"

GOOGLE_CLOUD_PROJECT='...'
GOOGLE_CLOUD_REGION='us-central1'
#GENMEDIA_BUCKET='YOURPROJECT-media-arneis'

ARNEIS_FOLDER="out/"
ARNEIS_NO_MOCK="true"
